<div layout="row" layout-align="center">
    <div class="page" flex-gt-sm="70" flex md-whiteframe="3" style="max-height: none;">
        <div layout="column" layout-padding>
            <h1>Configuration &amp; Management</h1>
            <p>
                Hi Guys, so here I will include a few steps to fill out the following: configuration generator, activity generator, and how to look at the activities responses.
            </p>
            <h2>Config Generator:</h2>
            <p>
                The Configuration Generator page allows you to insert instructions or change already created instructions on the tool. For instance, you can easily change the name of the tool under the “application name” heading which is currently populated with “InfoTimeline.” In addition, each page of the tool has an instructions box pop-up upon clicking next, and this is where these are located. These can be modified easily in this configuration generator tab. However, in the text box at the top of the page called “saved json file text,” you can copy-and-paste your file and it will populate the rest of the page.
            </p>
            <h2>Activity Generator:</h2>
            <p>
                The Activity Generator page allows you to upload an activity in a few steps. You will be able to give the activity a name, upload the sources with the identified information, upload the correct order along with three example orders that the students will compare with. When inputting the sources, a unique ID is required, meaning a phrase that is entirely different from the other sources. The path is the directory and file name on the server where the image is located for example “/data/Overfishing/overfishing1.png.” When inputting the example rationales, they can be “drag and dropped” to be in the order you desire by clicking on the three lined symbol to the left.
            </p>
            <h2>View Activity Responses:</h2>
            <p>
                In this page you will be able to view activity responses. The ID is a unique ID given to the user when accessing the page. The Activity describes which activity the user went through. The source order (step 1) describes the initial ordering of the sources. The source rationale (step 1) describes the initial rationales that were used to order the sources. The final source order (step 3) describes the final ordering of the sources after having compared with an example order. The final source rationale (step 3) describes the final rationales that were used to order the sources the second time. This format is used for assessment purposes.
            </p>
        </div>
    </div>
</div>
