<md-dialog aria-label="Help" flex="70">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Hint</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="hide()">
                <md-icon md-font-set="material-icons" aria-label="Close dialog"> close </md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content">
            <div layout="column">
                <div layout="row" layout-align="center">
                    <img src="{{source.path}}" alt="{{source.notes}}" flex="80"/>
                </div>
            </div>
            <div layout="column">
                <div layout="row">
                    <h4 flex="20">Medium:</h4>
                    <p flex="80">
                        {{source.medium}}
                    </p>
                </div>
                <div layout="row">
                    <h4 flex="20">Author:</h4>
                    <p flex="80">
                        {{source.author}}
                    </p>
                </div>
                <div layout="row">
                    <h4 flex="20">Audience:</h4>
                    <p flex="80">
                        {{source.audience}}
                    </p>
                </div>
                <div layout="row">
                    <h4 flex="20">Notes:</h4>
                    <p flex="80">
                        {{source.notes}}
                    </p>
                </div>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>
