<div layout="row" layout-align="center">
    <div class="page" flex-gt-sm="70" flex md-whiteframe="3" style="max-height: none;">
        <div layout="column" layout-padding>
            <h1>For Instructors</h1>
            <h2>Ideas for Classroom Integration</h2>
            <p>
                This tool is designed to help students better understand the flow of information from one medium to another over time, which can help them predict what kinds of sources will be available about a given topic and anticipate where to look for the information they need. In the process of learning this, students will also learn to critically evaluate the information provided by a source, paying close attention to the features of sources that signal its relationships to prior sources.
            </p>
            <p>
                In most cases, it will be most helpful when it is embedded in a larger lesson connected to these themes, whether that lesson is conducted online using a Blackboard module or face-to-face in the classroom. So, for instance, you might introduce student to the concepts using this tutorial, then have them look at a case study that relates to a course theme or topic.  Alternatively, you might call on students to reconstruct the chain of sources through which some information relevant to their own research is generated, disseminated, and reacted to.
            </p>
            <p>
                In addition to having students apply these concepts to something relevant to the class or your research, you might call on students to reflect in small groups or a seminar-style discussion on these concepts and their relevance to the larger learning objectives in your class.
            </p>
            <h2>Custom Classroom Integration</h2>
            <p>
                The library is interested in working with you on designing activities and lessons that utilize this tool, for instance by embedding it in a Blackboard module that calls on students to reflect and/or apply the lessons learned from the tool to the particular content of your class.
            </p>
            <p>
                On a case-by-case basis, the library may be willing to develop new sequences of sources and/or to customize the tool to your particular learning objectives.
            </p>
            <p>
                To consult with a librarian about integrating this tutorial into your classroom, please use <a href=”http://library.gmu.edu/tutorials/request” target=”_blank”>the library’s tutorials request form</a>. Be sure to mention that you are working with the InfoTimeline tutorial.
            </p>
        </div>
    </div>
</div>
