<div layout="row" layout-align="center">
    <div class="page" flex-gt-sm="70" flex md-whiteframe="3" style="max-height: none;">
        <div layout="column" layout-margin>
            <h1>Report a Problem</h1>
            <p>
                If you experience a problem with this tool or have comments about its functionality, please use the <a href=”http://library.gmu.edu/tutorials/feedback?page=tutorials” target=”_blank”>tutorials feedback page.</a>  Be sure to mention that you are providing feedback on the InfoTimeline tutorial in your comment.
            </p>
        </div>
    </div>
</div>
