<div layout="row" layout-align="center">
    <div class="page" flex-gt-sm="70" flex md-whiteframe="3" style="max-height: none;">
        <div layout="row" layout-margin layout-padding>
                <h1 flex>InfoTimeline:<br/><small style="font-weight: normal;">{{activity.activityName}}</small></h1>
        </div>
        <!--Intro to Concept-->
        <div layout="row" layout-align="center center">
            <div class='embed-container' flex="100"><iframe src='https://www.youtube.com/embed/hy-jsamFAFo?rel=0' frameborder='0' allowfullscreen></iframe></div>
        </div>
        <div layout="row" layout-margin layout-padding>
            <md-card md-theme="dark-green" md-theme-watch>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Introduction to the Concepts</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>
                        {{config.introductionConceptText}}
                    </p>
                </md-card-contend>
            </md-card>
        </div>
        <!--Intro to Tool-->
        <div layout="row" layout-margin layout-padding>
            <md-card md-theme="dark-green" md-theme-watch>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Introduction to the Tool</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>
                        {{config.introductionToolText}}
                    </p>
                </md-card-contend>
            </md-card>
        </div>
        <!--Continue Button-->
        <div layout="row" layout-align="end" layout-padding layout-margin>
            <md-button class="md-accent md-raised" ng-href="#/activity/{{routeParams.activityFolder}}/1/{{id}}">
                Continue <md-icon md-font-set="material-icons"> chevron_right </md-icon>
            </md-button>
        </div>
    </div>
</div>

<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style>
