<div layout="row" layout-align="center">
    <div class="page" flex-gt-sm="70" flex md-whiteframe="3" style="max-height: none;">
        <!--Action Buttons-->
        <md-fab-speed-dial md-direction="down" md-open="actionsState" class="md-fling md-fab-top-right" ng-mouseenter="actionsState=true">
            <md-fab-trigger>
                <md-button class="md-fab" ng-click="saveData()">
                    <md-tooltip md-direction="left">Continue</md-tooltip>
                    <md-icon md-font-set="material-icons"> chevron_right </md-icon>
                </md-button>
            </md-fab-trigger>
            <md-fab-actions>
                <md-button class="md-fab md-mini" ng-click="helpToggle($event)">
                    <md-tooltip md-direction="left">Help</md-tooltip>
                    <md-icon md-font-set="material-icons"> help_outline </md-icon>
                </md-button>
            </md-fab-actions>
        </md-fab-speed-dial>
        <!--Heading-->
        <div layout="row" layout-margin layout-padding>
                <h1 flex>{{activity.activityName}}<br/><small style="font-weight: normal;">Step 4: Compare with correct answer</small></h1>
        </div>
        <div layout="row" layout-align="center">
            <div flex="80" layout-margin layout-padding layout="row" layout-align="center">
                <md-button class="md-accent md-raised" ng-repeat="source in sources track by $index" ng-click="loadSource($index)">
                    {{$index+1}}
                </md-button>
            </div>
        </div>
        <!--Sources-->
        <div layout="row" layout-align="center">
            <md-card md-theme="dark-green" layout="column" flex="80">
                <md-card-header>
                    <md-card-header-text>
                        <span class="md-title">Position {{sourceNum+1}}</span>
                        <span class="md-subhead">Overfishing</span>
                    </md-card-header-text>
                </md-card-header>
                <!--Your Rationale-->
                <div layout="row" layout-margin>
                    <div flex="75">
                        <h3>Your Rationale</h3>
                        <p>
                            {{source.rationale}}
                        </p>
                    </div>
                    <div flex="25">
                        <img src="{{source.path}}" alt="{{source.notes}}" />
                    </div>
                </div>
                <!--Example Rationale-->
                <div layout="row" layout-margin>
                    <div flex="75">
                        <h3>Correct Rationale</h3>
                        <p>
                            {{source.exRationale}}
                        </p>
                    </div>
                    <div flex="25">
                        <img src="{{source.exPath}}" alt="{{source.exNotes}}" />
                    </div>
                </div>
                <md-divider ng-if="!$last"></md-divider>
            </md-card>
        </div>
    </div>

</div>
